/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  line-height: 1;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header,
section,
footer {
  width: 80%;
  margin: 0 auto;
}
h2,
h3,
p,
a {
  font-family: 'Noto Sans SC';
}
h1 {
  font-family: 'Rajdhani';
  font-size: 3rem;
  z-index: 3;
}
h1:hover {
  cursor: pointer;
}
header {
  z-index: 2;
  display: flex;
  position: fixed;
  top: 0;
  padding: 1% 0;
  background-color: #BFC4C7;
}
header h1 {
  width: 58%;
  padding: 0 1%;
  letter-spacing: 1.5px;
  padding-top: 1%;
}
@media (max-width: 500px) {
  header h1 {
    width: 100%;
  }
}
header nav {
  padding-top: 1%;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header nav {
    width: 90%;
  }
}
nav a {
  font-size: 1.3rem;
  color: #222627;
  text-decoration: none;
}
nav a:hover {
  color: #7C918F;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  header {
    position: static;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 3%;
  }
  header nav {
    width: 100%;
  }
}
.intro {
  position: relative;
}
.intro img {
  z-index: -1;
}
.intro .btn {
  position: absolute;
  background-color: #7C918F;
  color: #222627;
  font-size: 1.4rem;
  width: 30%;
  padding: 3% 2%;
  text-align: center;
  border-radius: 10px;
  font-family: 'Noto Sans SC';
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
.intro .btn:hover {
  background-color: #222627;
  color: #7C918F;
  font-size: 1.4rem;
  width: 30%;
  padding: 3% 2%;
  text-align: center;
  border-radius: 10px;
  font-family: 'Noto Sans SC';
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 800px) {
  .intro {
    position: static;
    margin-top: 10%;
  }
  .intro img.mount {
    display: none;
  }
  .intro .btn {
    position: static;
    width: 20%;
    padding: 1%;
    margin-bottom: 3%;
  }
}
@media (max-width: 500px) {
  .intro .btn {
    width: 50%;
    margin-bottom: 3%;
  }
}
.introText {
  position: absolute;
  left: 70px;
  bottom: 380px;
  width: 40%;
}
@media (max-width: 1024px) {
  .introText {
    bottom: 250px;
  }
}
.introText h2 {
  font-size: 3.5rem;
  padding: 2% 0;
}
.introText h3 {
  padding: 2% 0;
  line-height: 1.5;
  margin-bottom: 1%;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .introText {
    position: static;
    width: 100%;
    text-align: center;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main .item {
  display: flex;
  margin: 2% 0;
}
.main .item img {
  width: 48%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 800px) {
  .main .item img {
    width: 100%;
  }
}
.main .item .text {
  width: 49%;
  padding: 10% 5%;
}
@media (max-width: 800px) {
  .main .item .text {
    width: 100%;
  }
}
.main .item .text h2 {
  font-size: 3rem;
  padding-bottom: 4%;
}
.main .item .text p {
  font-size: 1.4rem;
  line-height: 1.5;
}
@media (max-width: 800px) {
  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#aboutHeader {
  background-color: #FCFCFE;
}
.intro .introText h2#meet {
  font-size: 4rem;
}
.introText#aboutIntroText {
  bottom: 150px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .person {
  width: 30%;
  padding: 3% 0;
}
.about .person img {
  width: 100%;
}
@media (max-width: 500px) {
  .about .person {
    width: 100%;
  }
}
.about .text h2 {
  text-align: center;
  font-size: 2rem;
  padding: 3% 0;
}
.about .text p {
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 1.4rem;
}
.cont {
  position: relative;
}
.cont img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.cont .imgtxt {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
}
.cont .imgtxt img {
  width: 40%;
  height: auto;
  padding: 0 3%;
  cursor: pointer;
}
.cont:hover img {
  opacity: 0.3;
}
.cont:hover .imgtxt {
  opacity: 1;
}
@media (max-width: 500px) {
  .intro img {
    display: none;
  }
}
