#aboutHeader{
    background-color: 	#FCFCFE;

}
.intro .introText h2#meet{
font-size: 50px;
}

.introText#aboutIntroText{
    bottom: 200px;
}

.about{
    display: flex;
    flex-wrap: wrap;

    .person{
        width: 32%;
        padding: 3%;
    }

}