#aboutHeader{
    background-color: 	#FCFCFE;

}
.intro .introText h2#meet{
font-size: 4rem;
}

.introText#aboutIntroText{
    bottom: 150px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .person{
        width: 30%;
        padding: 3% 0;
        img{
            width: 100%;
        }
        @media @mobile{
            width: 100%;
        }
        
    }
    .text{
        h2{
            text-align: center;
            font-size: 2rem;
            padding: 3% 0;
        }
        p{
            text-align: center;
            letter-spacing: 1.4px;
            font-size: 1.4rem;
        }
    }

}

@media @mobile{
    .intro img{
        display: none;
    }
}