#aboutHeader{
    background-color: 	#FCFCFE;

}
.intro .introText h2#meet{
font-size: 40px;
}

.introText#aboutIntroText{
    bottom: 150px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .person{
        width: 30%;
        padding: 3% 0;
        
    }
    .text{
        h2{
            text-align: center;
            font-size: 20px;
            padding: 3% 0;
        }
        p{
            text-align: center;
            letter-spacing: 1.4px;
        }
    }

}
