



body {
	line-height: 1;
}

html, body {
	height: 100%;
	font-size: 62.5%;
}

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%; 
  }

body{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
	
}

header, section, footer{
	width: 80%;
	margin: 0 auto;
}

h2, h3, p, a{
	font-family: @main-font;
}



h1{
	font-family: @title-font;
	font-size: 3rem;
	z-index: 3;
	&:hover{
		cursor: pointer;
	}
}



