
.button(@bg-color, @font-color){
    background-color: @bg-color;
    color: @font-color;
    font-size: 14px;
    width: 30%;
    padding: 3% 2%;
    text-align: center;
    border-radius: 10px;
    font-family: @main-font;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;

}

.box-shadow(){
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-header(){
    position: fixed; 
    top: 0; 
}